.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  padding: 20px;
  width: 600px;
 
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 20px;
}

.grid-item {
  width: 100%;
}



/* Estilos para el botón */
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}